.filteredtable tbody tr,
.tablefilter{
    display:none;
}
#area.tablefilter:checked ~ table tbody tr.area,
#vegetables.tablefilter:checked ~ table tbody tr.vegetables,
#fruits.tablefilter:checked ~ table tbody tr.fruits {
    display:table-row;
}
.tablefilter + label{
    cursor: pointer;
    background-color: #666;
    color: #fff;
    padding: 3px;
    
}
.tablefilter:checked + label{
    background-color: #111;
}
/* dette er ikke relevant om man ikke bruker det som er kommentert ut i buysell.*/