*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    width: 100%;
    height: 350px;
    background-image: url(img/greens.jpg); 
    /* Royalty-free image from https://www.pickpik.com/fresh-amp-colorful-fruits-vegetables-apples-79643 */
    background-size: cover;
    background-color: #92c21e;
    color: whitesmoke;
    position: fixed;
    top: 0;
    z-index: -1;
    
}
#header > h1 {
    margin: 40px 20px 10px 40px;
    font-size: 38pt;
    text-shadow: 3px 3px 2px black;
    text-decoration: underline;
}
#header > h2 {
    margin: 0px 20px 20px 70px;
    font-size: 24pt;
    text-shadow: 2px 2px 2px black;
}

#navbar {
    width: 100%;
    font-size: 16pt;
    margin-top: 350px;
    background-color: #7d5026;
    font-weight: bold;
    /*position: -webkit-sticky; /* For Safari users */
    /*position: sticky;
    top: 0;*/
    z-index: 0;

}
#navbar > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#navbar > ul > a > .navbar_button > li {
    text-align: center;
}
#navbar > ul > a:link {
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: whitesmoke;
}
#navbar > ul > a:visited {
    color: whitesmoke;
}
#navbar > ul > a:hover {
    color: orange;
}
#navbar > ul > a:active {
    background-color: #64401f;
}

#content-wrapper {
    width: 100%;
    background-color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 20px;
}
#content-wrapper > h1 {
    text-align: center;
    width: 60%;
    margin: 20px auto 0 auto;
}
#content-wrapper > h2 {
    text-align: center;
    width: 60%;
    margin: 20px auto 0 auto;
    border-bottom: 3px solid #92c21e;
    font-size: 20pt;
}
#content-wrapper > h3 {
    width: 60%;
    margin: 10px auto;
    font-size: 16pt;
}
#content-wrapper > p {
    width: 60%;
    margin: 0px auto 60px auto;
    font-size: 15pt;
}
#content-wrapper > p > .img_left {
    float: left;
    margin-right: 10px;
}
#content-wrapper > p > .img_right {
    float: right;
    margin-left: 10px;
}


#about_contact_footer-wrapper {
    background-color: #7d5026;
    border-top: 10px solid #92c21e;
    color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
}
#about_contact_footer-wrapper > #about,
#about_contact_footer-wrapper > #contact {
    width: 50%;
    padding: 25px;
    text-align: justify;
}
#about_contact_footer-wrapper > #about > h2 {
    text-align: center;
}
#about_contact_footer-wrapper > #footer {
    width: 100%;
    padding: 25px;
    text-align: center;
}

#recipes_navbar {
    width: 60%;
    font-size: 14pt;
    background-color: #92c21e;
    margin: 0 auto;
}
#recipes_navbar > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#recipes_navbar > ul > a > .navbar_button > li {
    text-align: center;
}
#recipes_navbar > ul > a:link {
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: whitesmoke;
}
#recipes_navbar > ul > a:visited {
    color: whitesmoke;
}
#recipes_navbar > ul > a:hover {
    color: #7d5026;
    font-weight: bold;
}
#recipes_navbar > ul > a:active {
    background-color: #64401f;
    color: whitesmoke;
}

#content-wrapper > table {
    width: 60%;
    margin: 10px auto;
    border-collapse: collapse;
    font-size: 15pt;
}
#content-wrapper > table th {
    border-bottom: 2px solid #7d5026;
    text-align: start;
    padding: 5px;
}
#content-wrapper > table td {
    padding: 5px;
}

#content-wrapper > ol {
    font-size: 15pt;
    width: 60%;
    margin: auto;
}
#content-wrapper > ol li {
    padding: 3px 0;
    margin-left: 25px;
}

#content-wrapper > .recipe_title {
    text-align: center;
    margin: 20px auto;
    font-size: 17pt;
}

#content-wrapper > #recipes_intro {
    text-align: justify;
    margin: 20px auto 30px auto;
}

#content-wrapper_buysell {
    width: 100%;
    background-color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
}
#content-wrapper_buysell #buy {
    width: 45%;
    margin: 0 auto;
}
#content-wrapper_buysell #sell {
    width: 45%;
    margin: 0 auto;
}
#content-wrapper_buysell > h1 {
    text-align: center;
    margin: 20px auto 0 auto;
    width: 100%;
}
#content-wrapper_buysell > #buy > h2,
#content-wrapper_buysell > #sell > h2 {
    text-align: center;
    margin: 20px auto 0 auto;
    border-bottom: 3px solid #92c21e;
    font-size: 20pt;
}
#content-wrapper_buysell > #buy > h3,
#content-wrapper_buysell > #sell > h3 {
    margin: 10px auto;
    font-size: 16pt;
}
#content-wrapper_buysell > #buy > p,
#content-wrapper_buysell > #sell > p {
    margin: 0px auto 10px auto;
    font-size: 15pt;
}
#content-wrapper_buysell > #buy > p > button {
    font-size: 13pt;
    font-weight: bold;
    padding: 7px 30px;
    margin-right: 10px;
    border-radius: 10px;
    border: 3px solid #7d5026;
    background-color: whitesmoke;
}
#content-wrapper_buysell > #buy > p > button:hover {
    background-color: lightgray;
}
#content-wrapper_buysell > #buy > p > button:active {
    border-color: #92c21e;
}

#content-wrapper_buysell > #buy > table {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    font-size: 15pt;
}
#content-wrapper_buysell > #buy > table th {
    border-bottom: 2px solid #92c21e;
    text-align: start;
    padding: 5px;
}
#content-wrapper_buysell > #buy > table td {
    padding: 5px;
    border-bottom: 1px solid #7d5026;
}

#content-wrapper_buysell > #buy > table td a {
    color: black;
    text-decoration: none;
}
#content-wrapper_buysell > #buy > table td a:hover {
    color: #92c21e;
}
#content-wrapper_buysell > #buy > table td a:active {
    color: #7d5026;
}

#content-wrapper_buysell > #buy a {
    color: black;
}
#content-wrapper_buysell > #buy a:hover {
    color: #92c21e;
}
#content-wrapper_buysell > #buy a:active {
    color: #7d5026;
}

#content-wrapper_buysell > #sell {
    font-size: 15pt;
}
#content-wrapper_buysell > #sell > form > input[type="text"] {
    padding: 4px 6px;
    margin: 0px 5px 15px 0px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-width: 200px;
}
#content-wrapper_buysell > #sell > form > select {
    padding: 4px 6px;
    margin: 5px 5px 15px 5px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}
#content-wrapper_buysell > #sell > form > input[type="submit"] {
    padding: 10px 20px;
    margin: 10px auto;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid #92c21e;
}
#content-wrapper_buysell > #sell > form > input[type="submit"]:hover {
    background-color: lightgray;
}
#content-wrapper_buysell > #sell > form > input[type="submit"]:active {
    border-color: #7d5026;
}

#content-wrapper > form {
    width: 60%;
    margin: auto;
    margin-top: 15px;
}
#content-wrapper > form > input[type="text"] {
    padding: 4px 6px;
    width: 50%;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 200px;
}
#content-wrapper > form > input[type="submit"] {
    padding: 5px 20px;
    margin: 10px auto;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid #92c21e;
}
#content-wrapper > form > input[type="submit"]:hover {
    background-color: lightgray;
}
#content-wrapper > form > input[type="submit"]:active {
    border-color: #7d5026;
}

#content-wrapper > table td a {
    color: black;
    text-decoration: none;
}
#content-wrapper > table td a:hover {
    color: #92c21e;
}
#content-wrapper > table td a:active {
    color: #7d5026;
}

#content-wrapper > p > a {
    color: #7d5026;
}
#content-wrapper > p > a:visited {
    color: #7d5026;
}
#content-wrapper > p > a:hover {
    color: #64401f;
}
#content-wrapper > p > a:active {
    color: #92c21e;
}

#content-wrapper_login {
    width: 100%;
    background-color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
}
#content-wrapper_login #login,
#content-wrapper_login #signup {
    width: 45%;
    margin: 0 auto;
}
#content-wrapper_login > h1 {
    text-align: center;
    margin: 20px auto 0 auto;
    width: 100%;
}
#content-wrapper_login > #signup > h2,
#content-wrapper_login > #login > h2 {
    text-align: center;
    margin: 20px auto 0 auto;
    border-bottom: 3px solid #92c21e;
    font-size: 20pt;
}
#content-wrapper_login > #signup > p,
#content-wrapper_login > #login > p {
    margin: 0px auto 10px auto;
    font-size: 15pt;
}
#content-wrapper_login > #signup > form,
#content-wrapper_login > #login > form  {
    margin-top: 15px;
}
#content-wrapper_login > #signup > form > input[type="text"],
#content-wrapper_login > #login > form > input[type="text"] {
    padding: 4px 6px;
    margin: 0px 5px 15px 0px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
#content-wrapper_login > #signup > form > input[type="submit"],
#content-wrapper_login > #login > form > input[type="submit"] {
    padding: 10px 20px;
    margin: 10px auto;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid #92c21e;
}
#content-wrapper_login > #signup > form > input[type="submit"]:hover,
#content-wrapper_login > #login > form > input[type="submit"]:hover {
    background-color: lightgray;
}
#content-wrapper_login > #signup > form > input[type="submit"]:active,
#content-wrapper_login > #login > form > input[type="submit"]:active {
    border-color: #7d5026;
}


@media only screen and (max-width: 1080px) {
    #content-wrapper h1,
    #content-wrapper h2,
    #content-wrapper h3,
    #content-wrapper p,
    #content-wrapper table,
    #content-wrapper ol,
    #content-wrapper #recipes_navbar {
        width: 90%;
    }
    #content-wrapper_buysell #buy,
    #content-wrapper_buysell #sell,
    #content-wrapper_login #signup,
    #content-wrapper_login #login {
        width: 90%;
    }

    #content-wrapper p,
    #about_contact_footer-wrapper #about p,
    #about_contact_footer-wrapper #contact p,
    #about_contact_footer-wrapper #footer p,
    #content-wrapper_buysell #buy p,
    #content-wrapper_buysell #sell p,
    #content-wrapper_buysell #sell form,
    #content-wrapper_login #signup p,
    #content-wrapper_login #login p,
    #content-wrappper_login #signup form,
    #content-wrapper_login #login form,
    #content-wrapper table,
    #content-wrapper ol {
        font-size: 12pt;
    }
    #content-wrapper h1,
    #content-wrapper_buysell h1,
    #content-wrapper_login h1 {
        font-size: 20pt;
    }
    #content-wrapper h2,
    #content-wrapper_buysell #buy h2,
    #content-wrapper_buysell #sell h2,
    #content-wrapper_login #signup h2,
    #content-wrapper_login #login h2 {
        font-size: 16pt;
    }
    #content-wrapper h3,
    #content-wrapper_buysell #buy h3,
    #content-wrapper_buysell #sell h3,
    #content-wrapper_login #signup h3,
    #content-wrapper_login #login h3 {
        font-size: 14pt;
    }

    #content-wrapper,
    #content-wrapper_buysell,
    #content-wrapper_login {
        padding-top: 10px;
    }
    #content-wrapper #recipes_navbar { 
        width: 100%;
        font-size: 12pt;
    }
    #content-wrapper #recipes_navbar ul {
        display: flex;
        flex-flow: row wrap;
    }
    #content-wrapper #recipes_navbar ul a:link {
        width: 50%;
    }
    
    #header {
        height: 475px;
    }

    #navbar {
        position: static;
        font-size: 14pt;
        margin-top: 475px;
    }
    #navbar > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #navbar > ul > a:link {
        width: 50%;
        padding: 5px 0;
    }

    #about_contact_footer-wrapper > #about {
        width: 100%;
    }
    #about_contact_footer-wrapper > #contact {
        width: 100%;
    }

    #header h1 {
        margin: 20px 20px 0 20px;
        font-size: 30pt;
    }
    #header h2 {
        margin: 20px 20px 0 20px;
        font-size: 22pt;
    }
    
    #content-wrapper_buysell #buy table {
        font-size: 10.5pt;
    }
    #content-wrapper_buysell #buy p button {
        font-size: 12pt;
        padding: 4px 10px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 400px) {
    #content-wrapper_buysell #buy table {
        font-size: 9pt;
    }
}